@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #eee;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

* {
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 150ms;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #444 !important;
}
